<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.busbd.extra.Report" />
	</listeners>
	<test thread-count="5" name="Test">
		<parameter name="browser" value="firefox" />
		<!-- <parameter name="browser" value="chrome" /> -->
		<classes>
<!-- 	<class name="com.busbd.tcase.TC_Search_001" /> -->
	<class name="com.busbd.tcase.TC_BuyTicket_002" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
